<div class="header-foreground">
  <div class="navbar-bg">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" [routerLink]="['']">
        FizzBuzzApp
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Fizz Buzz
            </a>
            <div class="dropdown-menu">
              <a [routerLink]="['']" class="dropdown-item">
                Szabályok
              </a>
              <a [routerLink]="['/fizz-buzz-calculation']" class="dropdown-item">
                Számolás
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</div>
