<!--suppress AngularUndefinedBinding, JSVoidFunctionReturnValueUsed -->
<h3>Fizz Buzz calculation</h3>
<br/>
<div class="col-sm-12">
  <form [formGroup]="calculateForm">
    <label for="numberForCalculate">Number for calculating Fizz Buzz: </label>
    &nbsp;
    <input type="number" [(ngModel)]="numberForCalculate" id="numberForCalculate" formControlName="numberForCalculate"
           [min]="0" [max]="MAX_INTEGER" (mousedown)="result=''">
    <br/>
    <button type="button" class="btn btn-sm btn-outline-success" (click)="calculateNumberFizzBuzz(numberForCalculate)"
            [disabled]="f['numberForCalculate'].errors && f['numberForCalculate'].errors">
      Calculate
    </button>
    <br/>
    <br/>
    <div>
      <span>Result of Fizz Buzz calculation: {{result}}</span>
    </div>
    <div *ngIf="f['numberForCalculate'].errors">
      {{showValidationMessage()}}
    </div>
  </form>
  <hr>
  <div>
    <button type="button" class="btn btn-sm btn-outline-success" (click)="calculateFirstNFizzBuzzElement()">
      Show
    </button>
  </div>
  <br/>
  <div *ngIf="firstNElement.length">
  <span>
    {{firstNElement.join(', ')}}
  </span>
  </div>
</div>
